---
---

@import 'reset'
@import 'typography'
@import 'forms'
@import 'themes'

*
  box-sizing: border-box

html, body
  margin: 0
  min-height: 100%
  width: 100%

body
  max-width: 100%
  display: flex
  flex: 1
  align-items: center
  justify-content: center

.logo
  @extend %display-font
  z-index: 1000
  position: absolute
  top: 0
  left: 0
  margin: 0 auto
  font-weight: bold
  font-size: 1.5em
  text-decoration: none
  padding: 0.5rem 1rem

.wrapper
  width: 100%
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  position: relative

  .content
    padding: 1em
    height: 100%
    width: 100%
    max-width: 51em
    margin: 0 auto 10em

footer
  width: 100%
  text-align: center
  margin-top: 10em
  position: absolute
  bottom: 1em


  .chunk
    white-space: nowrap

  .spacer
    display: inline-block
    padding: 0 1em

  span
    margin: 0

.col
  display: inline-block
  vertical-align: top

.strike
  text-decoration: line-through

hr
  width: 30%
  text-align: center

a, a:visited
  color: rgb(0, 0, 255)

blockquote
  margin: 5em 1em
  position: relative

cite
  display: block
  width: 100%
  text-align: right

cite::before
  display: inline-block
  content: '—'

@media (min-width: 40em)

  .col
    width: 49.5%

#dark-mode-link
  position: absolute
  font-size: 1.2em
  top: 0.75em
  right: 0.75em
  text-decoration: none
  z-index: 1000


ul.tags
  list-style-type: none
  display: inline-block
  margin: 0
  padding: 0

  li
    display: inline-block
    padding: 0

    &::after
      content: ', '

    &:last-child::after
      content: ''

pre
  max-width: 100%
  overflow-x: auto
  overflow-y: hidden
  padding: 1em
  margin-bottom: 1.5em
  border: 1px solid
  border-radius: 4px
