---
---

*
  box-sizing: border-box

html, body
  margin: 0
  min-height: 100%
  width: 100%

body
  max-width: 45em
  margin: 0 auto
  padding: 1em

article
  margin-bottom: 2em
  line-height: 1.25

ul
  padding-left: 1em

p
  margin-top: .25em

.col
  display: inline-block
  vertical-align: top

.strike
  text-decoration: line-through

a, a:visited
  color: rgb(0, 0, 255)

blockquote
  margin: 5em 1em
  position: relative
  color: #888

blockquote p
  text-indent: -1em

blockquote p::before
  display: inline
  content: '“'
  font-size: 2em

blockquote p::after
  display: inline
  content: '”'
  font-size: 2em
  line-height: 0.5
  vertical-align: bottom

cite
  display: block
  width: 100%
  text-align: right

cite::before
  display: inline-block
  content: '—'

@media (min-width: 40em)

  .col
    width: 49.5%

.dark-mode
  background: #1a2632
  color: #eee

  a, a:visited
    color: #03A9F4

#dark-mode-link
  position: absolute
  font-size: 1.2em
  top: 0.5em
  right: 0.5em
  text-decoration: none
