---
title: Aspiring Human & Computer Wizard
permalink:
description: I'm a technology consultant and computer science student in Ypsilanti, MI.
---

<header>
  <h1 class="flex-text">
    Jacob Evan Shreve
  </h1>
  <h2 class="flex-text">
    Systems Programmer
    <span class="amp">&</span>
    Aspiring Cryptography Engineer
  </h2>
  <img class="hero-image img-to-load"
       alt="Jacob's Face"
       data-src="/img/1-800-jake-wins.png"
       src="data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACW1BMVEUAAAD///9ROTE7LSvv
39xQNS0sIB5eRD4yKSczHRcbFBNdT00WBABcTUsHAwJfUE5TPjwfFxa3i4k2JiXMkpFeKC3Qj5CV
VmHKh4mZZGzMjpCzZnOBcHHGk5NyYWO8k5P/qZFoW11xZGS0j49iUVRXZFxgRz9AKSM6JR81IBst
HBgoGhgmGhhLPTtiRz5IMClELCUdExEiGBczJyVoTEVCKiQnFxQOCQgXERA7MC9AKSMpFxMMCAgi
Gho2IRwWEBAzIyBRNjQWEA9QPjxmSUYYERAjGxnBkY+KY2ImGxpDMDDNk5LEh4d+S1HRkZPKioyF
V12ZXWfJi418YWWSZmyaZG3Kj5HEjo57X2R0X2KabnXGk5TOmphzXGBxYmTClZPGkpKZfH+EbHBw
XmFqXV6zkY+2iYyofoSHbXBtXV9lWVpbVFM+KSQ3JSEwIB0iFRMdEQ4qGhcuHRksHRkeExEVDAs8
KSeBX2CWdHd/YGFZPz00IiAbERAIBQUtGBWbcnHcq67Zr7PLnqGsgoSHZmlLNzcLBgUGBAPFkJDd
p6nWpKfEkpWwhYiXdHhSPj4XEA8LBgaCXFu/jY6pfX50U1NqTk93W15eSUooHh1qSkqpenmPaWpm
TU5fR0hwUlR0Wl4vJCO3gH+2hIKWbW6acnOWa22VbnB7YGNBMTFcPT69hYSmd3iJX2K3goXIjJGg
dnx7YmZnUVOudXefa2ybbnGOZWqecXW4gYaccHh8YmaVYmalen+NZWqHYGO1hYibbHTCi4y2g4qq
f4WxiYqwiYyLaG3Ek5qxiY7///8rMMB4AAAAbHRSTlMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAZRsOXWlToCE47w5XgODaT9/JUJU/jzRXt3f/5yHcz9WQ/K+Eom5YFM+fta
cPSzFmT/+28OJdy8Em33/uuxMwl41siJPApPGBHhAAAAAWJLR0QB/wIt3gAAAAd0SU1FB+MDHgoK
A8UTpRYAAAD4SURBVAjXY2BgYGRSU9fQ1NLW0WVmAAIWVj19g5zcvHxDI2M2RgYGdhNTs4LCouKS
UnMLSw4GBk4r67Lyisqq6ppaG1suBm4eu7r6hsam5pbWtnZ7BgZeBgfHjs6u7p7evv4JTnwM/ALO
LhMnTZ4yddr0Ga5uggwMQu4eM2fNnjN33vwFnl7CDAwi3j4LFy1esnTZ8hUrfUUZGMT8/FetXrN2
3foNGwMCxRkYJII2bd6yddv2HTuDQ0IlGRikwsJ37d6zd9/+iMgoaRkGBtnomAMHDx0+cjQ2Tg7k
fnmF+IRjxxOTklMUlUB8BuXUtPSMzKxsFVUgBwBmpk2+i1xz2AAAACV0RVh0ZGF0ZTpjcmVhdGUA
MjAxOS0wMy0zMFQxMDo0MToyOS0wNDowMGhMDwwAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDMt
MzBUMTA6MTA6MDMtMDQ6MDBh0Sj/AAAAAElFTkSuQmCC"/>
</header>
<article>
  <div class="col">
  <p>
    Hey there! My name's Jacob. I live in Ypsilanti, MI, and I'm a
    systems programmer and computer science student. I'm currently
    looking for work starting after I graduate in August 2020.
  </p>
  <p>
    If you'd like to get in touch, you can email me (jacob [at] shreve.io) or tweet me (<a href="https://twitter.com/_shreve">@_shreve</a>). You can easily <a href="/encrypt">encrypt your message</a> here if you're into that sort of thing.
  </p>
  </div>
  <div class="col">
    <h3>Things I'm working on</h3>
    <ul>
      <li>
        <a href="http://www-personal.umich.edu/~shreve/" title="Jacob Evan Shreve :: University of Michigan Student">B.S.E. in Computer Science from UMich</a>
        <p>
          In Fall 2016, I started at the University of Michigan's school of engineering.
          By the time I finish, I'll have taken courses in algorithms, cryptography, computer security, operating systems,
          networks, and more.
        </p>
      </li>
      <li>
        <a href="https://refraction.network" title="Refraction Networking">Refraction Networking</a>
        <p>
          Refraction Networking is a method for circumventing
          censorship which integrates directly into the network,
          rather than existing as individual endpoints, making it much
          harder to detect and block. I'm currently working on the
          project as a research assistant with the goal of adding TLS
          1.3 support.
        </p>
      </li>
      <li>
        <a href="https://github.com/shreve" title="Shreve on GitHub">Open Source Software</a>
        <p>
          When I write software, I like to write it in a way that I can share it with the whole world.
          On my GitHub I've shared code for remote-controlling Roku TVs, a ready-to-deploy Stripe
          checkout server, a split encryption tool, and more.
        </p>
      </li>
    </ul>
  </div>

  <section class="row-2">
    <div class="col">
      <h3>Places you can find me</h3>
      <ul>
        <li><a href="https://github.com/shreve">Github</a></li>
        <li><a href="https://twitter.com/_shreve">Twitter</a></li>
        <li><a href="https://keybase.io/shreve">Keybase</a></li>
        <li><a href="http://www.linkedin.com/in/jacobevanshreve">LinkedIn</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Other things on this site</h3>
      <ul>
        <li><a href="https://shreve.github.io/resume/resume.pdf" target="_blank">I have a r&eacute;sum&eacute;</a>.</li>
        <li><a href="http://i.❤.dakota.jacobevanshreve.me">I love my girlfriend Dakota</a>.</li>
        <li><a href="/recipes/">I know a few recipes</a>.</li>
        <li><a href="/key.asc">I have a PGP public key</a>.</li>
      </ul>
    </div>
  </section>

  <h3>Buzzwords</h3>
  <section class="row-2">
    <div class="col col-inner">
      <ul>
        <li>ruby on rails</li>
        <li>golang</li>
        <li>rust</li>
        <li>linux</li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li>cryptography</li>
        <li>appsec</li>
        <li>kubernetes</li>
        <li>progressive enhancement</li>
      </ul>
    </div>
  </section>

  <section>
    <h3>Blog Posts</h3>
    <ul class="blog-post-list">
      {% assign posts = site.posts | sort: 'date' | reverse %}
      {% for post in posts limit:5 %}
      <li class="blog-post">
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% if post.updated %}
        <span>Updated {% include date.html date=post.updated %}</span>
        {% else %}
        <span>{% include date.html date=post.date %}</span>
        {% endif %}
      </li>
      {% endfor %}

      <li class="blog-post">
        <a href="/posts">See the full list &#8594;</a>
        <span><time datetime="0"></time></span>
      </li>
    </ul>
  </section>

  <blockquote>
    <p>This song goes out to anybody here that believes that maybe, just maybe, we were all born with the moral obligation to leave this world a better place than the world that we've found.</p>
    <cite>Tim McIlrath</cite>
  </blockquote>
</article>
