---
title: Blog Posts
permalink: /posts
---

<section>
  <h1>Blog Posts</h1>
  <ul class="blog-post-list">
    {% assign posts = site.posts | sort: 'date' | reverse %}
    {% for post in posts %}
    <li class="blog-post">
      <a href="{{ post.url }}">{{ post.title }}</a>
      {% if post.updated %}
      <span>Updated {% include date.html date=post.updated %}</span>
      {% else %}
      <span>{% include date.html date=post.date %}</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>

<script>
 let sortVal = (post) => {
   return post.getElementsByTagName('time')[0].getAttribute('datetime');
 }

 let sortFunc = (post1, post2) => {
   if (sortVal(post1) < sortVal(post2)) {
     return 1;
   } else if (sortVal(post1) > sortVal(post2)) {
     return -1;
   } else {
     return 0;
   }
 }

 let sortPosts = (posts) => {
   posts = Array.prototype.slice.call(posts).sort(sortFunc);
   let list = document.getElementsByClassName('blog-post-list')[0];

   for (let element of posts) {
     list.appendChild(element);
   }
 }

 sortPosts(document.getElementsByClassName('blog-post'))
</script>
