*, *::before, *::after
  box-sizing: border-box

html
  overflow-x: hidden

html, body
  margin: 0
  min-height: 100%
  width: 100%

body
  max-width: 100%
  display: flex
  flex: 1
  align-items: center
  justify-content: center

  &.transitions
    transition: background 0.5s

.hero-image
  max-width: 100%
  width: 250px
  margin: 1em auto 2em
  display: block

%floater
  position: fixed
  z-index: 1000
  top: 0
  text-decoration: none
  padding: 0.5rem 1rem
  font-size: 2rem

.logo
  @extend %floater
  color: var(--text-color)
  left: 0
  margin: 0 auto
  font-weight: bold
  transition: all 0.1s

  &:hover
    transform: scale(1.1) rotate(15deg)

#theme-link
  @extend %floater
  right: 0

.wrapper
  width: 100%
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  position: relative

  .wrapped
    padding: 1em
    margin-bottom: 15rem
    height: 100%
    width: 100%

.site-header
  padding: 5rem 0
  color: var(--subtext-color)

.content
  max-width: 40rem
  margin: 0 auto

.site-footer
  color: var(--subtext-color)
  position: absolute
  bottom: 5rem
  width: 100%

  .level-item
    padding: 0 1rem

.level
  align-items: center
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  list-style-type: none

.level-item, .level-left, .level-right
  align-items: center
  display: flex
  flex-basis: auto
  flex-shrink: 0

.level-item
  flex-grow: 1
  justify-content: center

.level-left
  flex-grow: 0
  justify-content: flex-start

.level-right
  flex-grow: 0
  justify-content: flex-end

iframe
  background: black
  width: 100%
  border: 0
  margin: 0
  padding: 0

.box
  @extend %sliding-background
  margin: 0 1em 1em
  line-height: 0
