input
  &[type="text"],
  &[type="number"],
  &[type="phone"]
    padding: 0.1em 1em 0.4em
    color: #fff
    background-color: #151f29
    border: 1px solid #304251

.currency-input
  &:before
    content: '$'
    font-size: 1.1em
    position: absolute
    color: #fff
    padding: 0.6em

  input
    padding-left: 1.5em
    padding-right: 0.5em
    max-width: 120px


.input-group
  *
    display: inline-block
    margin-right: -2px

  >:first-child,
  >:first-child input
    border-top-left-radius: 0.5em
    border-bottom-left-radius: 0.5em

  >:last-child
    border-top-right-radius: 0.5em
    border-bottom-right-radius: 0.5em

button
  background-color: #151f29
  border: 1px solid #304251
  color: #fff
  padding: 0.72em 1em 0.65em
  text-transform: uppercase
