%body-font
  font-family: Georgia

%display-font
  font-family: "futura-pt", Futura, "Avenir Next LT Pro", Helvetica, Arial

%fancy-font
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif

%subtext
  @extend %subtext-color
  font-style: italic

.wf-loading
  %display-font
    color: transparent

a, a:visited
  @extend %link-color

h1, h2, h3, h4, h5, h6
  @extend %display-font
  font-weight: bold
  margin-top: 1em
  margin-bottom: 1em

  span
    @extend %display-font

h1, h2
  text-align: center

h1
  font-size: 3.5rem

h2
  font-size: 2.5rem

h3
  font-size: 2rem

label, button
  @extend %display-font
  font-weight: bold
  text-transform: uppercase

dt
  @extend %display-font
  font-weight: bold
  font-size: 1.6rem
  margin-bottom: 1rem

.amp
  @extend %fancy-font
  font-size: 1em
  padding: 0 0.2em
  font-style: italic
  font-weight: normal

label
  display: inline-block
  font-size: 1.1rem
  margin-bottom: 1em

header *
  text-align: center

header
  .timestamps, .tags
    @extend %subtext-color
    font-size: 1.2rem

    *
      font-size: inherit

p, li, a, cite, time, input, textarea, dd, .content-element
  @extend %body-font
  line-height: 1.5
  font-size: 1.5rem
  margin-bottom: 1.5em

p, ol, ul, .content-element, dd
  width: 100%
  padding: 0 1em 1.5em

ol
  list-style-type: decimal
  padding-left: 0.5em

  li
    padding-left: 0.5em

blockquote
  p
    quotes: "“" "”" "‘" "’"

    &::before, &::after
      content: '“'
      font-size: 2.5rem
      display: inline

    &::before
      content: open-quote
      position: absolute
      left: -0.3em
      top: -0.4em

    &::after
      content: close-quote
      vertical-align: middle
      line-height: 0

.tags
  display: inline-block
  width: auto
  margin: 0

  li
    margin-bottom: none
    display: inline
    margin: 0

    &::after
      content: ', '

    &:last-child::after
      content: ''

.flex-title__elbow
  @media only screen and (max-width: 500px)
    display: block
    margin: 0

.centered
  text-align: center

.rigid
  white-space: nowrap

.strike
  text-decoration: line-through

hr
  width: 30%
  text-align: center

blockquote
  margin: 5em 1em
  position: relative

cite
  display: block
  width: 100%
  text-align: right

cite::before
  display: inline-block
  content: '—'

%code-wrapper
  @extend %embed-background
  @extend %border-color
  border: 1px solid
  border-radius: 4px
  font-size: 1.2rem
  padding: 0.1rem 0.5rem 0.2rem

code
  @extend %code-wrapper

pre
  @extend %code-wrapper
  max-width: 100%
  overflow-x: auto
  overflow-y: hidden
  padding: 1em
  margin-bottom: 4.5rem

pre code
  border: none
  padding: none

code, code *
  font-family: Fira Mono, Monaco, monospace
  line-height: 1.2

.highlight span
  vertical-align: text-top

.blog-post
  display: grid
  grid-template-columns: 10em auto
  align-items: baseline

  span, time
    @extend %subtext
    font-size: 1rem
    text-align: right
    padding-right: 1em
    white-space: nowrap
    order: 1
    margin: 0

  a
    order: 2
    margin: 0

  @media only screen and (max-width: 50em)
    display: block

  @media only screen and (max-width: 35em)
    time
      display: block
      text-align: left
