<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@violetcodes" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:title" content="{{ .Title }} :: Shreve Labs" />
    <meta name="twitter:description" content="{{ .Description }}" />
    <meta name="twitter:image" content="{{ .Params.image }}" />
    <meta name="twitter:image:src" content="{{ .Params.image }}" />
    <meta name="twitter:image:alt" content="{{ .Params.image_alt }}" />

    <!-- Facebook -->
    <meta name="og:site_name" content="shreve.io" />
    <meta name="og:url" content="{{ .Permalink }}" />
    <meta name="og:title" content="{{ .Title }}" />
    <meta name="og:description" content="{{ .Description }}" />
    <meta name="og:image" content="{{ .Params.image }}" />
    <meta name="og:type" content="article" />

    <title>{{ .Title }} :: Shreve Labs</title>
    <meta name="description" content="{{ .Description }}" />
    <script>
      if (
        window.location.protocol !== "https:" &&
        window.location.hostname === "shreve.io"
      )
        window.location.protocol = "https:";
    </script>

    <link rel="shortcut icon" href="/favicon.png" type="image/png" />

    {{ $file := resources.Get "sass/main.sass" }}
    {{ $options := (dict "targetPath" "app.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := $file | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="alternate" type="application/rss+xml" href="/posts/feed.xml" />
  </head>
  <body>
    {{ if ne .RelPermalink "/" -}}
      {{ partialCached "logo.html" . }}
    {{- end }}
    <section class="wrapper">
      <article class="wrapped">
        {{ block "main" . }}{{ end }}
      </article>
      <footer class="site-footer content">
        <ul class="level">
          <li class="level-item"><a href="/posts">Blog</a></li>
          <li class="level-item"><a href="/posts/feed.xml">RSS</a></li>
          <li class="level-item"><a href="#" class="email">Email</a></li>
          <li class="level-item"><a href="https://violet.codes" target="_blank" title="violet.codes">Socials</a></li>
        </ul>
        <ul class="level">
          <li class="level-item">
            <span>&copy; {{ now.Year }} Shreve Labs, LLC</span>
          </li>
          <li class="level-item">
            <span
              >Made with <span class="heart">&#x2764;</span> in Michigan</span
            >
          </li>
        </ul>
      </footer>
    </section>

    {{ $options := (dict "targetPath" "app.js" "minify" true) }}
    {{ $script := resources.Get "js/app.js" | js.Build $options }}
    <script type="module" src="{{ $script.RelPermalink }}"></script>
  </body>
</html>
