{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
  </header>

  <article class="content">
    {{ .Content }}

    <ul class="{{ .Section }}-preview-list">
      {{ range .Pages }}
        {{ .Render "summary" }}
      {{ end }}
    </ul>

    <p class="center">
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<a rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
      Subscribe via RSS
    </a>
    </p>
    {{ end -}}
  </article>
{{ end }}
