{{ define "main" }}
<section itemscope itemtype="http://schema.org/BlogPosting">

  <meta itemprop="author" content="Violet Jane Shreve" />
  <meta itemprop="publisher" content="Shreve Labs" />
  <meta itemprop="inLanguage" content="en-US" />
  <meta itemprop="wordCount" content="{{ .WordCount }}" />
  <meta itemprop="description" content="{{ .Description }}" />
  {{ if .Params.image }}
  <meta itemprop="image" content="{{ .Params.image }}" />
  {{ end }}

  <header class="site-header">
    <h1 itemprop="name headline">{{ .Title }}</h1>

    <ul class="level content">
      <div class="level-left">
        <li class="level-item">
          <span class="timestamps">
            Published {{ partial "date.html" (dict "date" .Date "prop" "datePublished") }}
          </span>
        </li>
      </div>
      <div class="level-right">
        {{- if .Params.tags -}}
          <li class="level-item">
            {{ partial "tags.html" .Params.tags }}
          </li>
        {{- end -}}
      </div>
    </ul>

    {{ if .Params.series -}}
    <ul class="level content">
      <li class="level-item">
        <span>This is part of the <a href="{{ ref . .Params.series }}">{{ .Params.series }}</a> series.
        {{ $other := where (.Site.Pages.ByDate) "Params.series" .Params.series }}
        {{ if gt (len $other) 0 }}
        <select id="series-selector">
          {{- range $i, $page := $other -}}
          <option value="{{ $page.Permalink }}" {{ if eq $page $ -}} selected {{ end }}>{{ add $i 1 }}. {{ .Title }}</option>
          {{- end -}}
        </select>
        {{- end -}}

        <script>
          document.getElementById("series-selector").addEventListener("change", (e) => {
            let target = e.target.value;
            window.visit(target);
          })
        </script>
        </span>
      </li>
    </ul>
    {{- end }}
  </header>

  <article class="content" itemprop="articleBody text">
    {{ .Content }}
  </article>

  <footer class="post-footer content">
    <div class="row-2">
      <div class="col">
        <h6>Join the discussion</h6>
        <ul>
          <li>I'd love to hear your thoughts.</li>
          <li><a href="{{ if .Params.skeet }}{{ .Params.skeet }}{{ else }}https://bsky.app/profile/violet.codes{{ end }}"
              target="_blank">Reply on Bluesky</a></li>
          {{ if .Params.hn }}
          <li><a href="{{ .Params.hn }}">Reply on Hacker News</a></li>
          {{ end }}
          <li><a href="#" class="email">Reach out via Email</a></li>
        </ul>
      </div>
      <div class="col">
        <h6>Support the author</h6>
        <ul>

          <li>I'm actually doing fine. There are plenty of others who need help
            more than me. I'll post a list of causes I endorse here soon.</li>
        </ul>
      </div>
    </div>
  </footer>

</section>

{{ end }}
