{{ define "main" }}
  <header class="homepage content">
    <h1>Violet Shreve</h1>
    <h2>
      Full Stack Software Engineer
    </h2>

    {{ with resources.Get "img/violet.png" }}
      {{ $preview := .Resize "x10" }}

      <img
        class="hero-image img-to-load"
        alt="Violet's Face"
        data-src="{{ .RelPermalink }}"
        src="{{ $preview.Content | base64Encode | printf "data:image/png;base64,%s" | safeURL }}"
        />
    {{ end }}

  </header>
  <article class="content">
    <p>
      Hey there! My name's Violet. I'm passionate about developing software and
      my goal is to use it to make a positive impact on the world. On this
      website I post programming walkthroughs and political essays.
    </p>

    <section>
      <h3>Recent Posts</h3>
      <ul class="blog-post-list">
        {{ range $post := first 5 (where (.Site.RegularPages.ByDate.Reverse) "Section" "posts") }}
          {{ .Render "summary" }}
        {{ end }}
        <li class="blog-post preview">
          <a href="/posts/">See the full list &#8594;</a>
          <span><time datetime="0"></time></span>
        </li>
      </ul>
    </section>

    <blockquote>
      <p>
        This song goes out to anybody here that believes that maybe, just maybe,
        we were all born with the moral obligation to leave this world a better
        place than the world that we've found.
      </p>
      <cite>Tim McIlrath</cite>
    </blockquote>
  </article>
{{ end }}
