<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
     if (window.location.host === "jacobevanshreve.me" && window.location.protocol != "https:") { window.location.protocol = "https"; }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jacob Evan Shreve | {{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="canonical" href="https://jacobevanshreve.me{{ page.permalink }}">
  </head>
  <body>
    <a href="#dark-mode" id="dark-mode-link" title="Dark Mode">🌝</a>

    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
