<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@_shreve">
    <meta name="twitter:url" content="https://shreve.io{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.image }}">
    <!-- Facebook -->
    <meta name="og:url" content="https://shreve.io{{ page.url }}">
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:description" content="{{ page.description }}">
    <meta name="og:image" content="{{ page.image }}">

    <title> {{ page.title }} :: Jacob Evan Shreve</title>
    <meta name="description" content="{{ page.description }}">
    <script>
     if (window.location.protocol != "https:" && window.location.hostname != "localhost") {
       window.location.protocol = "https:" }
    </script>
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="canonical" href="https://shreve.io{{ page.url }}" />
    <link rel="stylesheet" href="https://use.typekit.net/uqq4alz.css" />
    <script>{% include google-analytics.js %}</script>
  </head>
  <body class="{{ page.layout }} dark-mode">
    {% if page.url != '/' %}<a class="logo" href="/">
    <img src="/img/1-800-jake-wins-small.png" alt="JS" /></a>{% endif %}
    <div class="wrapper">
      <div class="content">
        {{ content }}
      </div>
      <footer>
        <span class="chunk">&copy; {{ site.time | date: '%Y' }} Shreve Labs, LLC</span>
        <span class="chunk">Made with <span class="heart">&#x2764;</span> in Michigan</span>
      </footer>
    </div>
    <script type="module" src="/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.0/turbolinks.min.js"></script>
  </body>
</html>
